In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/gsea_mrna.txt", sep="\t")
df.head()

,Hugo_Symbol,Entrez_Gene_Id,TCGA-05-4244-01,TCGA-05-4249-01,TCGA-05-4250-01,TCGA-05-4382-01,TCGA-05-4384-01,TCGA-05-4389-01,TCGA-05-4390-01,TCGA-05-4395-01,...,TCGA-NJ-A4YG-01,TCGA-NJ-A4YI-01,TCGA-NJ-A4YP-01,TCGA-NJ-A4YQ-01,TCGA-NJ-A55A-01,TCGA-NJ-A55O-01,TCGA-NJ-A55R-01,TCGA-NJ-A7XG-01,TCGA-O1-A52J-01,TCGA-S2-AA1A-01
0,NaN,100130426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,100133144,-0.0353,-0.4349,-0.4268,0.1178,-1.3313,-1.1036,-0.4494,-1.2655,...,0.1593,-1.1972,-1.6536,0.5776,0.8607,0.5135,-0.2466,1.8386,0.3907,0.8722
2,UBE2Q2P2,100134869,-0.0307,0.1330,-1.0444,-0.6817,-1.8518,0.3053,-0.6803,0.0907,...,0.0663,-0.2701,-0.5265,-0.6904,0.6856,1.1818,-0.1780,3.4109,1.2706,-0.4121
3,HMGB1P1,10357,-2.8954,-0.1829,-2.9011,-0.5842,-1.1841,-1.5852,0.6671,-2.2658,...,2.5039,1.4855,0.3470,-0.6065,0.2878,0.2772,-1.0500,-0.4475,-1.9550,-0.9185
4,NaN,10431,1.7786,2.1286,2.9987,1.5703,0.0756,3.6721,3.0263,2.2687,...,2.1068,-1.2915,2.1059,2.4368,-0.1140,1.8986,1.3581,0.8486,2.9865,0.1007

In [3]:
# basic data manipulation
df.dropna(subset=["Hugo_Symbol"], inplace=True)
df.reset_index(drop=True, inplace=True)
df.drop("Entrez_Gene_Id", axis=1, inplace=True)
df.head()

,Hugo_Symbol,TCGA-05-4244-01,TCGA-05-4249-01,TCGA-05-4250-01,TCGA-05-4382-01,TCGA-05-4384-01,TCGA-05-4389-01,TCGA-05-4390-01,TCGA-05-4395-01,TCGA-05-4396-01,...,TCGA-NJ-A4YG-01,TCGA-NJ-A4YI-01,TCGA-NJ-A4YP-01,TCGA-NJ-A4YQ-01,TCGA-NJ-A55A-01,TCGA-NJ-A55O-01,TCGA-NJ-A55R-01,TCGA-NJ-A7XG-01,TCGA-O1-A52J-01,TCGA-S2-AA1A-01
0,UBE2Q2P2,-0.0307,0.1330,-1.0444,-0.6817,-1.8518,0.3053,-0.6803,0.0907,0.5611,...,0.0663,-0.2701,-0.5265,-0.6904,0.6856,1.1818,-0.1780,3.4109,1.2706,-0.4121
1,HMGB1P1,-2.8954,-0.1829,-2.9011,-0.5842,-1.1841,-1.5852,0.6671,-2.2658,0.6351,...,2.5039,1.4855,0.3470,-0.6065,0.2878,0.2772,-1.0500,-0.4475,-1.9550,-0.9185
2,RNU12-2P,0.2043,1.0067,-2.1634,-0.8709,-0.5877,-1.2071,0.5563,-0.7431,-0.2986,...,-2.1634,-2.1634,-2.1634,-0.5534,-0.0874,0.3921,-0.3694,-2.1634,2.3094,-0.4981
3,SSX9P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EZHIP,-2.5288,-2.5288,-2.5288,3.5100,-2.5288,-2.5288,-2.5288,-2.5288,-2.5288,...,-1.2536,-0.1471,-0.5668,-2.5288,1.0724,-2.5288,0.4714,-2.5288,1.5839,1.0710

In [4]:
# data pivotting
df = df.set_index('Hugo_Symbol').T.reset_index()
df.columns.name = None
df = df.rename(columns={'index': 'Samples'})
df.head()

,Samples,UBE2Q2P2,HMGB1P1,RNU12-2P,SSX9P,EZHIP,EFCAB8,SRP14P1,TRIM75P,SPATA31B1P,...,HAUS2,HAUS3,HAUS4,HAUS5,HAUS6,HAUS7,HAUS8,HAVCR1,HAVCR2,HAX1
0,TCGA-05-4244-01,-0.0307,-2.8954,0.2043,NaN,-2.5288,3.6910,-0.1237,-2.8330,NaN,...,-2.1687,2.7550,1.9115,3.1843,-1.0837,1.5146,1.2670,18.1767,-0.4775,4.0865
1,TCGA-05-4249-01,0.1330,-0.1829,1.0067,NaN,-2.5288,0.1614,-0.2599,-2.8330,NaN,...,-2.1427,0.0171,0.0267,-0.7398,-0.2059,0.4046,2.8011,1.0538,-0.5356,1.1755
2,TCGA-05-4250-01,-1.0444,-2.9011,-2.1634,NaN,-2.5288,-2.7516,-0.3184,-2.8330,NaN,...,-0.3833,1.8943,0.7315,4.2397,2.9360,1.2976,2.2567,20.0317,-0.0749,1.6613
3,TCGA-05-4382-01,-0.6817,-0.5842,-0.8709,NaN,3.5100,0.3820,-0.5547,-1.9542,NaN,...,-3.4492,2.1243,0.6452,1.8082,5.0815,3.1217,1.7517,13.6256,0.8013,1.3425
4,TCGA-05-4384-01,-1.8518,-1.1841,-0.5877,NaN,-2.5288,0.0582,0.0292,-2.8330,NaN,...,-2.3779,1.2430,2.0781,0.7536,-1.9884,-1.4996,-2.5361,1.4065,-1.2980,1.8012

In [5]:
# nan checking
print(f"n rows: {len(df)}")
print(f"n cols with nan: {len(df.isna().sum()[df.isna().sum() > 0])}")
print(f"n cols with 95% or less nan: {len(df.isna().sum()[(df.isna().sum() > 0) & (df.isna().sum() <= len(df) * 0.95)])}")
print("all missing cols have 95% or more nan, so we can drop these cols.")
df.dropna(axis=1, inplace=True)
df.head()

n rows: 510
n cols with nan: 242
n cols with 95% or less nan: 1
all missing cols have 95% or more nan, so we can drop these cols.

,Samples,UBE2Q2P2,HMGB1P1,RNU12-2P,EZHIP,EFCAB8,SRP14P1,TRIM75P,SDR16C6P,HSPB1P1,...,HAUS1,HAUS2,HAUS3,HAUS4,HAUS5,HAUS6,HAUS7,HAUS8,HAVCR1,HAVCR2
0,TCGA-05-4244-01,-0.0307,-2.8954,0.2043,-2.5288,3.6910,-0.1237,-2.8330,-4.0123,2.7268,...,1.5381,-2.1687,2.7550,1.9115,3.1843,-1.0837,1.5146,1.2670,18.1767,-0.4775
1,TCGA-05-4249-01,0.1330,-0.1829,1.0067,-2.5288,0.1614,-0.2599,-2.8330,-4.0123,-1.2316,...,0.0156,-2.1427,0.0171,0.0267,-0.7398,-0.2059,0.4046,2.8011,1.0538,-0.5356
2,TCGA-05-4250-01,-1.0444,-2.9011,-2.1634,-2.5288,-2.7516,-0.3184,-2.8330,-4.0123,1.6310,...,0.6554,-0.3833,1.8943,0.7315,4.2397,2.9360,1.2976,2.2567,20.0317,-0.0749
3,TCGA-05-4382-01,-0.6817,-0.5842,-0.8709,3.5100,0.3820,-0.5547,-1.9542,-4.0123,1.3807,...,1.4577,-3.4492,2.1243,0.6452,1.8082,5.0815,3.1217,1.7517,13.6256,0.8013
4,TCGA-05-4384-01,-1.8518,-1.1841,-0.5877,-2.5288,0.0582,0.0292,-2.8330,-4.0123,0.3802,...,0.4126,-2.3779,1.2430,2.0781,0.7536,-1.9884,-1.4996,-2.5361,1.4065,-1.2980

In [6]:
# dtype checking
for i, j in df.dtypes.items():
  if j != 'float64':
    print(f"column '{i}' is not float64 type column")

column 'Samples' is not float64 type column

In [7]:
samples = df["Samples"]
df.drop("Samples", axis=1, inplace=True)
df.head()

,UBE2Q2P2,HMGB1P1,RNU12-2P,EZHIP,EFCAB8,SRP14P1,TRIM75P,SDR16C6P,HSPB1P1,ANKRD20A20P,...,HAUS1,HAUS2,HAUS3,HAUS4,HAUS5,HAUS6,HAUS7,HAUS8,HAVCR1,HAVCR2
0,-0.0307,-2.8954,0.2043,-2.5288,3.6910,-0.1237,-2.8330,-4.0123,2.7268,-0.4061,...,1.5381,-2.1687,2.7550,1.9115,3.1843,-1.0837,1.5146,1.2670,18.1767,-0.4775
1,0.1330,-0.1829,1.0067,-2.5288,0.1614,-0.2599,-2.8330,-4.0123,-1.2316,-1.5715,...,0.0156,-2.1427,0.0171,0.0267,-0.7398,-0.2059,0.4046,2.8011,1.0538,-0.5356
2,-1.0444,-2.9011,-2.1634,-2.5288,-2.7516,-0.3184,-2.8330,-4.0123,1.6310,-1.5522,...,0.6554,-0.3833,1.8943,0.7315,4.2397,2.9360,1.2976,2.2567,20.0317,-0.0749
3,-0.6817,-0.5842,-0.8709,3.5100,0.3820,-0.5547,-1.9542,-4.0123,1.3807,-2.3154,...,1.4577,-3.4492,2.1243,0.6452,1.8082,5.0815,3.1217,1.7517,13.6256,0.8013
4,-1.8518,-1.1841,-0.5877,-2.5288,0.0582,0.0292,-2.8330,-4.0123,0.3802,-2.3154,...,0.4126,-2.3779,1.2430,2.0781,0.7536,-1.9884,-1.4996,-2.5361,1.4065,-1.2980

In [8]:
from scipy.stats import skew, kurtosis

def check_normal(df):
  results = []

  for col in df.columns:
      s = skew(df[col])
      k = kurtosis(df[col], fisher=False)
      results.append((col, s, k))

  df_norm_check = pd.DataFrame(results, columns=['gene', 'skewness', 'kurtosis'])
  df_norm_check["skewness"] = pd.to_numeric(df_norm_check["skewness"], errors="coerce")
  df_norm_check["kurtosis"] = pd.to_numeric(df_norm_check["kurtosis"], errors="coerce")

  nan_rows = df[df.isna().any(axis=1)].index
  print(nan_rows)

  df_norm_check["non_normal"] = (df_norm_check['skewness'].abs() > 1) | (df_norm_check['kurtosis'] > 5)
  print(f"{round((len(df_norm_check[df_norm_check['non_normal'] == True]) / len(df_norm_check)) * 100, 2)}% of the data is non normal")

In [9]:
# normality checking
check_normal(df)

Index([], dtype='int64')
23.94% of the data is non normal

In [10]:
# applying Yeo-Johnson Transformation to further normalize data
from sklearn.preprocessing import PowerTransformer

pt = PowerTransformer(method='yeo-johnson')
df_norm = pd.DataFrame(pt.fit_transform(df), columns=df.columns)

check_normal(df_norm)

Index([], dtype='int64')
7.53% of the data is non normal

In [11]:
print("nan values in df_norm:",df_norm.isna().sum().sum())
df_norm.head()

nan values in df_norm: 0

,UBE2Q2P2,HMGB1P1,RNU12-2P,EZHIP,EFCAB8,SRP14P1,TRIM75P,SDR16C6P,HSPB1P1,ANKRD20A20P,...,HAUS1,HAUS2,HAUS3,HAUS4,HAUS5,HAUS6,HAUS7,HAUS8,HAVCR1,HAVCR2
0,0.030692,-2.384349,1.263964,-0.926965,1.425109,0.129695,-0.513754,-0.358142,0.556149,1.392603,...,0.774336,-0.189547,1.043696,0.682209,0.591026,-0.858077,0.172010,-0.237835,1.264900,0.501763
1,0.155545,-0.183343,1.656730,-0.926965,0.238658,0.019828,-0.513754,-0.358142,-1.157295,0.315175,...,-0.127808,-0.174588,-0.837971,-0.422730,-1.520654,-0.501800,-0.340910,0.732916,-0.465771,0.464493
2,-0.692020,-2.389576,-0.979840,-0.926965,-1.513912,-0.027308,-0.513754,-0.358142,0.040682,0.339490,...,0.272133,0.797570,0.462938,0.004221,1.072252,0.561220,0.071899,0.390358,1.405992,0.771857
3,-0.441380,-0.463648,0.450208,1.794997,0.333406,-0.217415,1.487931,-0.358142,-0.073914,-0.798883,...,0.730307,-0.941784,0.618836,-0.046932,-0.071643,1.203466,0.911718,0.070804,0.897283,1.448178
4,-1.228228,-0.917941,0.701608,-0.926965,0.192311,0.253262,-0.513754,-0.358142,-0.516479,-0.798883,...,0.124980,-0.310403,0.018144,0.775375,-0.620328,-1.249511,-1.227618,-2.769694,-0.409156,0.004322